

<div class="jumbotron center">
<h1>Home</h1>
<p>Crea tu perfil perrin</p>

<button type="button" class="btn btn-default">Login</button>
<button type="button" class="btn btn-primary">Sign Up</button>

</div>
